<meta charset="utf-8" />
<meta name="description" content="HR and payroll cloud-based application.">
<meta name="author" content="https://www.payspace.com/">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link href="../favicon.ico" rel="shortcut icon" type="image/x-icon" asp-append-version="true" />
<link href="../css/reset.css" rel="stylesheet" asp-append-version="true" />
<link href="../css/site.css" rel="stylesheet" asp-append-version="true" />

<script src="../js/site-design.js" asp-append-version="true"></script>
<script src="../js/site-shared.js" asp-append-version="true"></script>

<title>@Configuration["AppSettings:CompanyName"]?.ToUpper()</title>