<header>
    <div class="logo">
        <img src="https://www.payspace.com/wp-content/uploads/2020/05/payspace-logo-new.png" alt="PaySpace" style="max-width: 160px;">
    </div>
    <div class="header-menu-button">
        <div>
            <button type="button" class="account-button" onclick="userAccountMenu()"></button>
        </div>
    </div>
</header>
