<div class="popup-form-small">
    <input type="button" value="X" class="close-button-small" onclick="hidePopupForm()" />
    <fieldset>
        <div class="big-account">
            <div class="separator"></div>
            <div class="big-account-icon">
            </div>
        </div>
        <label id="lblUsername" class="field-label">@HttpContextAccessor.HttpContext?.Session.GetString("EmailAddress")</label>
    </fieldset>
    <nav>
        <table id="navAccount" class="nav-table">
            <tr>
                <td>
                    <input type="button" class="button-9E0000" value="SIGN OUT" onclick="signOut()" />
                </td>
            </tr>
        </table>
    </nav>
</div>
